<center>


<br>
<br>
<br>
<br>
<br>
<br>


<h4>本当に退会しますか？</h4>

<br>
<br>

<p>退会すると、会員情報が削除され</p>
<p>現在ログイン中のアカウントでログインできなくなります。</p>
<p>退会する場合は、「退会する」をクリックしてください。</p>

<br>
<br>

<%= link_to "退会する", withdrawal_path, method: :patch, "data-confirm" => "本当に退会しますか？" , class:"btn btn-danger" %>

&emsp;&emsp;&emsp;

<%= link_to "退会しない", mypage_path(current_user) , class:"btn btn-primary" %>


</center>